[
    {
        type: 'button'
        callback: 'command-palette:toggle'
        tooltip: 'Toggle Command Palette'
        icon: 'ios-compass'
        iconset: 'ion'
    }
    {
        type: 'button'
        tooltip: 'Open Settings View'
        callback: 'settings-view:open'
        icon: 'ios-cog'
        iconset: 'ion'
    }
    {
        type: 'button'
        callback: 'flex-tool-bar:edit-config-file'
        tooltip: 'Open tool bar configuration'
        icon: 'ios-hammer'
        iconset: 'ion'
    }
    {
        type: 'spacer'
    }
    {
        type: 'button'
        tooltip: 'Open File'
        callback: 'application:open-file'
        icon: 'ios-document'
        iconset: 'ion'
    }
    {
        type: 'button'
        callback: 'application:new-file'
        tooltip: 'New File'
        icon: 'ios-document'
        iconset: 'ion'
    }
    {
        type: 'button'
        tooltip: 'Open Folder'
        callback: 'application:add-project-folder'
        icon: 'ios-folder'
        iconset: 'ion'
    }
    {
        type: 'spacer'
    }
    {
        type: 'button'
        callback: 'find-and-replace:show'
        tooltip: 'Find in Buffer'
        icon: 'ios-search'
        iconset: 'ion'
    }
    {
        type: 'button'
        tooltip: 'File Finder'
        callback: 'fuzzy-finder:toggle-file-finder'
        icon: 'ios-color-wand'
        iconset: 'ion'
    }
    {
        type: 'button'
        tooltip: 'Fold all'
        callback: 'editor:fold-all'
        icon: 'ios-contract'
        iconset: 'ion'
    }
    {
        type: 'button'
        callback: 'editor:unfold-all'
        tooltip: 'Unfold all'
        icon: 'ios-move'
        iconset: 'ion'
    }
    {
        type: 'button'
        tooltip: 'Show all bookmarks'
        icon: 'ios-bookmark'
        iconset: 'ion'
        callback: 'bookmarks:view-all'

    }
    {
        type: 'spacer'
    }
    {
        type: 'button'
        tooltip: 'Split pane'
        icon: 'columns'
        iconset: 'fa'
        callback: 'pane:split-right'
    }
    {
        type: 'button'
        tooltip: 'Toggle Fullscreen'
        callback: 'window:toggle-full-screen'
        icon: 'ios-expand'
        iconset: 'ion'
    }
    {
        type: 'spacer'
    }
    {
        type: 'button'
        tooltip: 'Open git tab'
        icon: 'logo-github'
        iconset: 'ion'
        callback: 'github:toggle-git-tab'
    }
    {
        type: 'button'
        tooltip: 'Show git log'
        icon: 'ios-list'
        iconset: 'ion'
        callback: 'git-log:show'
    }

    {
        type: 'button'
        callback: 'markdown-preview:toggle'
        disable: '!markdown'
        icon: 'logo-markdown'
        iconset: 'ion'
    }
    {
        type: 'spacer'
    }
    {
        type: 'button'
        tooltip: 'About Atom'
        icon: 'ios-information-circle'
        iconset: 'ion'
        callback: 'application:about'
    }
    {
        type: 'button'
        tooltip: 'Close Atom'
        icon: 'ios-power'
        iconset: 'ion'
        callback: 'core:close'
        disable: '!markdown'
    }
]
